<a href="https://colab.research.google.com/github/ZehanQin/Card-D.-Krueger-A.-B.-1994-.-Minimum-Wages-and-Employment-Replication/blob/main/notebooks%20/%2001_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Import

In [15]:
raw_url = "https://raw.githubusercontent.com/ZehanQin/Card-D.-Krueger-A.-B.-1994-.-Minimum-Wages-and-Employment-Replication/refs/heads/main/data/raw/public.dat"

In [16]:
import pandas as pd

col_specs = [(0, 3),(4, 5),(6, 7),(8, 9),(10,11),(12,13),(14,15),(16,17),(18,19),(20,21),
             (25,30),(31,36),(43,48),(109,110),(121,126),(127,132),(139,144)]
col_names = ['SHEET', 'CHAIN', 'CO_OWNED', 'STATE','SOUTNJ','CENTRALJ','NORTHJ','PA1','PA2','SHORE',
             'EMPFT','EMPPT','WAGE_ST','STATUS2','EMPFT2','EMPPT2','WAGE_ST2']

df_raw = pd.read_fwf(raw_url, colspecs=col_specs, names=col_names)
df_raw.head()

,SHEET,CHAIN,CO_OWNED,STATE,SOUTNJ,CENTRALJ,NORTHJ,PA1,PA2,SHORE,EMPFT,EMPPT,WAGE_ST,STATUS2,EMPFT2,EMPPT2,WAGE_ST2
0,46,1,0,0,0,0,0,1,0,0,30.00,15.00,.,1,3.50,35.00,4.30
1,49,2,0,0,0,0,0,1,0,0,6.50,6.50,.,1,0.00,15.00,4.45
2,506,2,1,0,0,0,0,1,0,0,3.00,7.00,.,1,3.00,7.00,5.00
3,56,4,1,0,0,0,0,1,0,0,20.00,20.00,5.00,1,0.00,36.00,5.25
4,61,4,1,0,0,0,0,1,0,0,6.00,26.00,5.50,1,28.00,3.00,4.75

In [17]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SHEET     410 non-null    int64
 1   CHAIN     410 non-null    int64
 2   CO_OWNED  410 non-null    int64
 3   STATE     410 non-null    int64
 4   SOUTNJ    410 non-null    int64
 5   CENTRALJ  410 non-null    int64
 6   NORTHJ    410 non-null    int64
 7   PA1       410 non-null    int64
 8   PA2       410 non-null    int64
 9   SHORE     410 non-null    int64
 10  EMPFT     410 non-null    object
 11  EMPPT     410 non-null    object
 12  WAGE_ST   410 non-null    object
 13  STATUS2   410 non-null    int64
 14  EMPFT2    410 non-null    object
 15  EMPPT2    410 non-null    object
 16  WAGE_ST2  410 non-null    object
dtypes: int64(11), object(6)
memory usage: 54.6+ KB

**Dropping missing values would be done in Phase 2**